.tabela{
 background: #ffffff;
 border-top: none;
 border-bottom: none;
 border-left: none;
 border-right: none;
}

.cabecalho{
 background: #e0e0e0;
 border-top: 1px solid #f0f0f0;
 border-bottom: 1px solid #c0c0c0;
 border-left: 1px solid #f0f0f0;
 border-right: 1px solid #c0c0c0;
 text-align: center;
/* text-indent: 5; */
 font-family: verdana,"sans serif",monospace;
 font-size: 10pt;
 color: #000000;
 height: 22px;
}

.rodape{
 background: #e0e0e0;
 border-top: 1px solid #f0f0f0;
 border-bottom: 1px solid #c0c0c0;
 border-left: 1px solid #f0f0f0;
 border-right: 1px solid #c0c0c0;
 text-align: left;
 text-indent: 5;
 font-family: verdana,"sans serif",monospace;
 font-size: 9pt;
 color: #000000;
 height: 22px;
}

.td_semana{
 background: #c0c0c0;
 border-top: 1px solid #f0f0f0;
 border-bottom: 1px solid #a0a0a0;
 border-left: 1px solid #f0f0f0;
 border-right: 1px solid #a0a0a0;
 text-align: center;
 font-family: verdana,"sans serif",monospace;
 font-size: 8pt;
 color: #000000;
 width: 24px;
 height: 20px;
}

.td_leg{
 background: #ffffff;
 border-top: 1px solid #f0f0f0;
 border-bottom: 1px solid #c0c0c0;
 border-left: 1px solid #f0f0f0;
 border-right: 1px solid #c0c0c0;
 text-indent: 5;
 font-family: verdana,"sans serif",monospace;
 font-size: 8pt;
 color: #000000;
}

.td_dia{
 background: #ffffff;
 border-top: 1px solid #f0f0f0;
 border-bottom: 1px solid #c0c0c0;
 border-left: 1px solid #f0f0f0;
 border-right: 1px solid #c0c0c0;
 text-align: center;
 font-family: verdana,"sans serif",monospace;
 font-size: 8pt;
 color: #000000;
 width: 24px;
 height: 20px;
}

.td_marcado0{
 background: #ffffff;
 border-top: 1px solid #f0f0f0;
 border-bottom: 1px solid #c0c0c0;
 border-left: 1px solid #f0f0f0;
 border-right: 1px solid #c0c0c0;
 text-align: center;
 font-family: verdana,"sans serif",monospace;
 font-size: 8pt;
 color: #ff0000;
 width: 24px;
 height: 20px;
}

.td_marcado1{
 color: #FF0000;
 font-size: 12pt;
}

.td_marcado2{
 color: #33ff33;
 font-size: 12pt;
}

.td_marcado3{
 color: #0000FF;
 font-size: 12pt;
}

.td_marcado4{
 color: #00FFFF;
 font-size: 12pt;
}

.td_marcado5{
 color: #FFFF00;
 font-size: 12pt;
}

.td_marcado6{
 color: #FF00FF;
 font-size: 12pt;
}

.td_marcado7{
 color: #6B8E23;
 font-size: 12pt;
}

.td_marcado8{
 color: #9932CD;
 font-size: 12pt;
}
