 Arquivo para defini��o da p�gina para impress�o
body {
	background: #FFFFFF ;
	width:auto;
	padding: 0 5%;
}

table {
  border-collapse: collapse;
  min-width: 700px;
  border: 1px solid #000000;
}

#container {
	margin: 1em auto;
	text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
}

#lst_cad p{
	padding:2px 1px; margin: 0;
	font: 12px Arial; height:15px;
	background-color:#CCCCCC; color:#000066;

}

h3 {
	font: 14pt bold;
	text-align:left;
}

#printLogo {
	padding: 2em 0 1em;
	border-bottom: 0.5 solid #555555;
	margin-bottom: 2em;
}

.homeLeftColumn, .homeRightColumn {
	float:left;
	width:45%;
}

.homeLeftColumn {
	margin-right:9.5%;
}

a:link:after, a:visited:after {
	content:"("attr(href)")";
	font-size: 80%;
	color:#555555;
	background:#ffffff;
}

.odd {
  background-color:#F0F0F0;
}

.info {
	background:#FFFFFF
}

col {
	border-right: 1px solid #000000;
}

col#albumCol {
	border:none;
}

thead {
  background: #CFCFCF;
  border: 2px solid #000;
  font-size: 120%;
  color:#000000;
}

tfoot {
	border: 1px solid #000;
}

td {
text-align:left;
}

td#moeda, p#moeda {
	text-align:right;
}

tr#botom{
  background: #9D9D9D;
  font: 14pt bold;
}

tbody#periodo tr:hover {
   background-color: #CCC;
  	color: #000000;
}

#footer {
	color: #636466;
	font-size: 0.8em;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
	clear: both;
	margin: 0;
	padding-top: 20px;
	padding-right: 10px;
	width: 705px;
}
#footer a       { color: #636466; text-decoration: underline }
#footer a:link       { color: #636466; text-decoration: underline }
#footer a:visited { }
#footer a:hover      { color: #e7790e }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
   border: 1px solid #fff;
}
