<STYLE TYPE="text/css">
<!--
/**************************************************************
********* Formatação para Tabela do Mês e Textos **************
**************************************************************/

A		{ font-family:arial, helvetica; color:#953010; text-decoration:underline }
SPAN	{ font-family:arial, helvetica }
TD     	{ font-family:arial, helvetica }
BODY	{ background-color:#FFF }

/**** mês and ano no cabeçalho do topo do calendário ****/
.date_header			{ font-size:16px; font-family:arial, helvetica; font-weight:bold }

/**** cor e tamanho das células do calendário.  ****/
.day_cell				{ background-color:#EDECD8; height:80; width: 95; }
.empty_day_cell			{ background-color:#EEEEEE; height:80; width: 95; }
.today_cell				{ background-color:#F2E2DE; height:80; width: 95; }

/**** day number in upper left corner of each cell ****/
.day_number				{ font-size:10px; font-family:verdana, arial, helvetica; color:#000 }

/**** title_txt is the text for each post on main page ****/
.title_txt				{ font-size:10px; font-family:verdana, arial, helvetica; color:#000 }
.title_txt A:link		{ color:#953010; text-decoration:underline }
.title_txt A:active		{ color:#953010; text-decoration:underline }
.title_txt A:visited	{ color:#953010; text-decoration:underline }
.title_txt A:hover		{ color:#953010; text-decoration:underline }

/**** time line under title text when event time given ****/
.time_str				{ font-size:9px; font-family:arial, helvetica }

/**** column headers or days of the week ****/
.column_header			{ background-color:#953010; font-size:12px; font-family:arial, helvetica; color:#FFFFFF; font-weight:bold }

/**** footprint text ****/
.footprint				{ font-size:10px; font-family:verdana, arial, helvetica; color:#000; font-weight:bold; }
.footprint A			{ font-size:10px; font-family:verdana, arial, helvetica; color:#953010; font-weight:bold; }
// end hiding -->
</STYLE>
