<STYLE TYPE="text/css">
<!--
/**************************************************************
********* Formatação para Tabela do Mês e Textos **************
**************************************************************/
/**** mês and ano no cabeçalho do topo do calendário ****/
.date_header { font-size:16px; font-family:arial, helvetica; font-weight:bold }

/**** cor e tamanho das células do calendário.  ****/
.day_cell	{ background-color:#d8dfed;max-width: 5em;}
.empty_day_cell	{ background-color:#fff;max-width: 5em;}
.today_cell	{ background-color:#fbbeab;max-width: 5em; }
.dom_cell	{ background-color:#b9d7e6;max-width: 5em; }

// end hiding -->
</STYLE>
