<STYLE TYPE="text/css"><!--

A		{ font-family:arial, helvetica; color:#953010; text-decoration:underline }
SPAN 	{ font-family:arial, helvetica }
TD     	{ font-family:arial, helvetica }

.form_labels		{ font-size:14px; font-family:arial, helvetica }
.add_new_header		{ font-size:16; font-family:arial, helvetica; font-weight:bold }
.delete_pg_txt		{ font-size:14px; font-family:arial, helvetica }

.display_header		{ font-size:16px; font-family:arial, helvetica; font-weight:bold }
.display_otheritems		{ font-size:16px; font-family:arial, helvetica; font-weight:bold; color:#9f000b }
.display_title		{ font-size:12px; font-family:arial, helvetica; color:#FFFFFF; font-weight:bold }
.display_txt		{ font-size:12px; font-family:arial, helvetica; color:#000000 }
.display_user		{ font-size:10px; font-family:verdana, helvetica, arial; color:#999999; font-weight:bold }
.display_edit		{ font-size:10px; font-family:verdana, arial, helvetica }
.display_title_bg	{ background-color:#953010 }
.display_txt_bg		{ background-color:#EDECD8 }#db1420

// end hiding -->
</STYLE>
