*{ margin: 0; padding: 0; }
body { margin: 0; padding: 0; width: 100%; font: 85% tahoma, sans-serif; color: #505367; background-color: #fff; background: url(../img/menino.jpg) no-repeat 0% 0%; }

	#container { width:1000px; text-align: center; }

	#header {height: 15em; }
	h5 {padding: 0 0 0 0; font-size: 100%; text-align: left; margin-left: 30px;}

	#mainnav {height: 20px; margin: 0; padding: 30px 0 0; text-align:center; font-family:"Times New Roman", Times, serif;}

	#content { height: 600px; margin: 1px 0 0; padding: 0; }


#added-div1 {
	position:relative;
	width: 750px;
	z-index:1;
	height: auto;
	float: left;
	margin-left: 150px;
	padding: 5px;
	font-size:26px;
	font-family:"Times New Roman", Times, serif;
}

#added-div-2 {
	position:relative;
	width: 900px;
	float: left;
	margin-top: 20px;
	padding-left: 100px;
}

#pastor {
	position:relative;
	width:250px;
	margin-top: 40px;
	margin-left: 40px;
	padding: 0 0 0 100px;
	text-align:center;
	font-size:10px;
}

#secretario {
	float:right;
	position:relative;
	width:280px;
	text-align:center;
	margin-right: 190px;
	top: -125px;
	font-size:11px;
}

#assinSec {
	position:relative;
	width:115px;
	margin-left: 440px;
	top: -100px;
}

h1{
	color: #0000FF;
	font-size: 280%;
	font-family: Forte;
	font-weight: normal;
	text-align: center;
	height: 40px;
	padding-top: 25px;
	font-family:"Times New Roman", Times, serif;

}
h2 { font-size: 120%; font-family: Forte; font-weight: bold; width: auto; height: 40px; margin: 0; padding: 10px 0 0 20px; text-align:right; margin-right: 30px;  }
h3, legend { color: #3366FF; font-weight: normal; text-align: center; width: auto; height: auto; margin: 0; padding-top: 2px; font-family:"Times New Roman", Times, serif;}
h4 { color: #a12621; font-weight: normal; margin-bottom: 5px; padding-top: 0; padding-left: 20px; }
h5 { color: #a12621; font-size: 0.5em; font-weight: normal; text-align: center; margin: 15px 0 0;}

p{font-size: 0.9em; margin-bottom: 5px; padding: 5px 10px 5px 5px; text-align:justify;}
#navcontainer  { float: right ; margin: 0; padding: 5px 20px 0 0; }


#foto {
	float:left;
	left:207px;
	top:200px;
	font-size: 20px;
	width:150px;
	z-index:3;
	margin-top: -10px;
	margin-left: 5em;
}
#Tipo {
	float:left;
	width:400px;
	padding: 5px 0 20px;
	font-size: 200%;
	text-align: right;
	margin-left: 10em;
	color: #3366FF;
}
