/func_class/constantes.php
/docs
/img/cartao_*.*
/img/log_70anos.jpg
/teste
/tmp
/bkpbanco/*.sql
/bkpbanco/*.zip
/img/marca.*
/img/logo*.*
/img/header*.*
/img/menin*.*
/relatorio/cartao_impr_Regenerar.php