table {
  border-collapse: collapse;
  margin-left: 1px;
  width: 98%;
}

table#direita {
  border-collapse: collapse;
  width: auto;
  border: 1px solid #777;
  margin-left: 1px;
}

caption {
  font-size: 1.2em;
  font:icon;
  text-align:center;
  font-weight: bold;
  margin: 1em 0;
  color:#000000;
}

col {
  border-right: 1px solid #000000;
}

col#albumCol {
  border-right: none;
}

tbody#periodo tr:hover,tbody#recibos tr:hover {
  background-color:#C1CDCD;
  color:green;
}

thead {
  background: #CFCFCF;
  border: 2px solid #000;
  font-size: 120%;
  color:#000000;
}

th {
  font-weight: normal;
  text-align: left;
}

td {
	text-align:left;
}

td#moeda, p#moeda  {
	text-align:right;
}

td#centro, .centro {
	text-align:center;
}
td a#bloco, td a:hover {
	display:block; color: #FF4500; 
}

#playlistPosHead {
  text-indent: -1000em;
}

th, td {
  padding: 0.1em 1em;
}


thead tr:hover {
  background-color: transparent;
  color: inherit;
}

.odd {
	background-color:#E8E8E8;
	color:#000;
}

.odd3 {
	background-color:#FFFFFF;
	color:#000;
	 border-bottom: 1px dotted #000;
	 border-top: 1px dotted #000;
}

#total {
	background-color:#000;
	font-weight:bold;
	color:#FFF;
	font-size: 130%;
}

#subtotal {
	background-color:#0000CD;
	font-weight:bold;
	color:#FFFF00;
}
.dados {
	background-color: #FFFFFF;
	color:#000;
}


.odd2 {
  background-color:#BFEFFF;
}