*{ margin: 0; padding: 0; }

body,table {
	margin: 0;
	padding: 0;
	text-align: left;
	color: #505367;
	background-color: #fff;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-repeat:no-repeat;
	background-position:center;
}
	
	#container { margin: 1em auto; width: 800px; text-align: left;}
	
	#header { width:auto; height: 80px; background-image: url(../img/AssDeusEnvelope.png); background-repeat: no-repeat;
	 background-position: left bottom; margin: 0; padding: 0 0 0 10px; text-align:right;}
	#header p { position:relative;width:400px; height: 100%; padding: 0 0 0 10px; text-align:right;float: right;}
	#mainnav {
	height: 20px;
	margin: 0;
	padding: 10px 0 0;
	text-align:left;
	font-size: 20px;
}
	
#content { height: auto; margin: 1px 0 0; padding: 0; }
	
#footer {
	color: #636466; 
	font-size: 0.8em; 
	text-align: right;
	clear: both;  
}

#footer a { 
	color: #636466; 
	text-decoration: underline 
}

a:link:after, a:visited:after {
	content:"("attr(href)")";
	font-size: 80%;
	color:#555555;
}

#footer a:link       { color: #636466; text-decoration: underline }
#footer a:visited { }
#footer a:hover      { color: #e7790e }

#added-div1 {
	position:relative;
	width: 100%;
	z-index:1;
	height: auto;
	float: left;
	margin: 5px 15px 5px 0;
	padding: 0;
	font-size:23px;
	background-repeat: no-repeat;
	background-position: center center;
}

#added-div-2 {
	width:100%;
	z-index:2;
	float: right;
	margin: 3px 0 5px;
	padding: 0;
}

#pastor {
	position:relative;
	width:200px;
	padding: 0 0 0 150px;
	text-align:center;
	top: -50px;
}

#secretario {
	float:right;
	position:relative;
	width:400px;
	text-align:center;
	top: -85px;
}


#assinatura {
	margin: 10px 160px;
	width:500px;
	text-align:center;
	top: 43px;
	border-top: 1px solid #000;
	font-size: 75%;
}

#vencimento {
	float:left;
	width:800px;
	text-align:right;
	color:#FF0000;
}
#polegar {
	float:left;
	text-shadow: 1px 1px #FFFFFF;
	background-color: #F5F5F5;
	color:#9A9A9A; 
	border: 1px solid #CCC;
	width:134px;
	height:140px;
	z-index:10;
	text-align:center;
}

h1{ 
	color: #0000FF;
	font-size: 300%;
	font-weight: normal; 
	text-align: left; 
	height: 50px; 
	padding-top: 25px; 
	padding-left: 20px;
	font-family:"Times New Roman", Times, serif;
	
}
h2 { font-size: 120%; font-weight: bold; width: auto; height: 40px; margin: 0; padding: 10px 0 0 20px; text-align:right; margin-right: 30px;  }
h3, legend { color: #3366FF; font-size: 150%; font-weight: normal; text-align: center; width: auto; height: auto; margin: 0; padding-top: 10px;}
h4 { color: #a12621; font-weight: normal; margin-bottom: 5px; padding-top: 0; padding-left: 20px; }
h5 { color: #a12621; font-size: 0.5em; font-weight: normal; text-align: center; margin: 5px 0 10px; padding: 10px 0 0; }
a    { color: #e7790e; font-size: 0.9em; text-decoration: underline  }
a:link    { color: #e7790e; font-size: 1em; text-decoration: underline }
a:active  { color: #800000 }
p{font-size: 0.9em; margin-bottom: 5px; padding: 5px 10px 5px 5px; text-align:justify;}

legend {
	font-size: 90%;
}

#Tipo {
	float:center;
	padding: 10px 10px  10px 10px;
	font-size: 150%;
	text-align: center;
	color: #000;
	background-color: #E8E8E8;
	border-color: #000000;
}
#End_Igreja {
	float: right;
	margin: 35px 15px 5px 0;
	top:63px;
	width:400px;
	padding: 5px 10px 0 20px;
	height:74px;
	z-index:3;
	Text-align: left;
}

.table-bordered {
	border-bottom: 2px solid #000;
}